[[source]]
name = "pypi"
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-session = "*"
flask-caching = "*"
flask-apscheduler = "*"
flask = "*"
flask-restful = "*"
psycopg2 = "*"

[packages]

[requires]
python_version = "3.8"
